<!DOCTYPE html>


<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Dashboard - Analytics | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/admin-assets/assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/admin-assets/assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/admin-assets/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/admin-assets/assets/vendor/css/theme-default.css"
    class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/admin-assets/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/admin-assets/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <link rel="stylesheet" href="/admin-assets/assets/vendor/libs/apex-charts/apex-charts.css" />


  {{!-- we adding css --}}

  {{!-- admin login css --}}
  {{#if adminLogin}}
  <link rel="stylesheet" href="/admin-assets/assets/vendor/css/pages/page-auth.css" />
  {{/if}}
  {{!-- admin add products --}}
  {{#if addproduct}}
  <script src="/admin-assets/assets/vendor/js/helpers.js"></script>
  {{/if}}
  

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="/admin-assets/assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="/admin-assets/assets/js/config.js"></script>

</head>

<body>


  {{{body}}}



  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>



  {{!-- admin validation --}}

  {{!--
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script> --}}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
    integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  {{!-- linking validation with js folder --}}
  <script src="/javascripts/validationadmin.js"></script>




  {{!-- validation end --}}
  ©
  {{!--
  <script>
    document.write(new Date().getFullYear());
  </script>
  , made with ❤️ by
  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
  </div>
  <div>
    <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
    <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

    <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank"
      class="footer-link me-4">Documentation</a>

    <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank"
      class="footer-link me-4">Support</a>
  </div>
  </div>
  </footer> --}}
  <!-- / Footer -->

  {{!-- <div class="content-backdrop fade"></div>
  </div>
  <!-- Content wrapper -->
  </div>
  <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <div class="buy-now">
    <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/" target="_blank"
      class="btn btn-danger btn-buy-now">Upgrade to Pro</a> --}}
  </div>

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->

  <script src="/admin-assets/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/admin-assets/assets/vendor/libs/popper/popper.js"></script>
  <script src="/admin-assets/assets/vendor/js/bootstrap.js"></script>
  <script src="/admin-assets/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script src="/admin-assets/assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="/admin-assets/assets/vendor/libs/apex-charts/apexcharts.js"></script>

  <!-- Main JS -->
  <script src="/admin-assets/assets/js/main.js"></script>

  <!-- Page JS -->
  <script src="/admin-assets/assets/js/dashboards-analytics.js"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>



</body>

</html>