<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  {{#if isLogin}}
  <link rel="stylesheet" href="/stylesheets/userlogin.css" />            
  {{/if}}
  {{#if isSignup}}
  <link rel="stylesheet" href="/stylesheets/usersignup.css" />              
  {{/if}}

  {{#if adminLogin}}
  <link rel="stylesheet" href="/stylesheets/adminlogin.css" />               
  {{/if}}

  {{#if reset}}
  <link rel="stylesheet" href="/stylesheets/forgotpassowrd.css" 
  {{/if}}
  
   {{#if user}} 
   <link rel="icon" type="image/png"
    href="/images/icons/favicon.png" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/bootstrap/css/bootstrap.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/fonts/iconic/css/material-design-iconic-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/fonts/linearicons-v1.0.0/icon-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/animate/animate.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/css-hamburgers/hamburgers.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/animsition/css/animsition.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/select2/select2.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/daterangepicker/daterangepicker.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/slick/slick.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/MagnificPopup/magnific-popup.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/vendor/perfect-scrollbar/perfect-scrollbar.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/user/css/util.css" />
  <link rel="stylesheet" type="text/css" href="/user/css/main.css" />

  {{/if}}

    {{#if userDashboard}}
  <link rel="stylesheet" type="text/css" href="/user/css/user-dashboard.css" />
  {{/if}}
  {{#if orderPlacementDetails}}
<link rel="stylesheet" type="text/css" href="/user/css/order-placemnet-details.css">
  {{/if}}


  {{#if checkout_address}}
  <link rel="stylesheet" type="text/css" href="/user/css/checkout_address.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  {{/if}}

{{#if orderlistTable}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  {{/if}}





{{!-- jquery --}}
{{#if onlinepayment}}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>     
{{/if}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
  {{{body}}}

{{#if orderlistTable}}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
{{/if}}
  {{!-- user validation --}}


 {{!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


          
 {{!-- linking validation with js folder --}}
 {{!-- <script src="/javascripts/validation.js"></script> --}}
 

{{!-- validation end --}}


{{!-- checkout-address  --}}

  {{#if checkout_address}}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  {{/if}}




  



  {{!-- cosa store script--}}

  <!--===============================================================================================-->
  {{!-- <script src="user/vendor/jquery/jquery-3.2.1.min.js"></script> --}}
  <!--===============================================================================================-->
  <script src="user/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="user/vendor/bootstrap/js/popper.js"></script>
  <script src="user/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="user/vendor/select2/select2.min.js"></script>
  <script>
    $(".js-select2").each(function () {
      $(this).select2({
        minimumResultsForSearch: 20,
        dropdownParent: $(this).next('.dropDownSelect2')
      });
    })
  </script>
  <!--===============================================================================================-->
  <script src="user/vendor/daterangepicker/moment.min.js"></script>
  <script src="user/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="user/vendor/slick/slick.min.js"></script>
  <script src="user/js/slick-custom.js"></script>
  <!--===============================================================================================-->
  <script src="user/vendor/parallax100/parallax100.js"></script>
  <script>
    $('.parallax100').parallax100();
  </script>
  <!--===============================================================================================-->









   <script src="user/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
  <script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
      $(this).magnificPopup({
        delegate: 'a', // the selector for gallery item
        type: 'image',
        gallery: {
          enabled: true
        },
        mainClass: 'mfp-fade'
      });
    });
  </script>
  <!--===============================================================================================-->
  <script src="user/vendor/isotope/isotope.pkgd.min.js"></script>
  <!--===============================================================================================-->
  <script src="user/vendor/sweetalert/sweetalert.min.js"></script>
  <script>
    $('.js-addwish-b2').on('click', function (e) {
      e.preventDefault();
    });

    $('.js-addwish-b2').each(function () {
      var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
      $(this).on('click', function () {
        swal(nameProduct, "is added to wishlist !", "success");

        $(this).addClass('js-addedwish-b2');
        $(this).off('click');
      });
    });

    $('.js-addwish-detail').each(function () {
      var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

      $(this).on('click', function () {
        swal(nameProduct, "is added to wishlist !", "success");

        $(this).addClass('js-addedwish-detail');
        $(this).off('click');
      });
    });

    /*---------------------------------------------*/

    $('.js-addcart-detail').each(function () {
      var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
      $(this).on('click', function () {
        swal(nameProduct, "is added to cart !", "success");
      });
    });

  </script>
  <!--===============================================================================================-->
  <script src="user/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script>
    $('.js-pscroll').each(function () {
      $(this).css('position', 'relative');
      $(this).css('overflow', 'hidden');
      var ps = new PerfectScrollbar(this, {
        wheelSpeed: 1,
        scrollingThreshold: 1000,
        wheelPropagation: false,
      });

      $(window).on('resize', function () {       
        ps.update();
      })
    });
  </script> 
  <!--===============================================================================================-->





  <script src="user/js/main.js"></script>




  {{!-- validation 2nd and last link(js link) bottom --}}
  {{!-- <script src="/javascripts/validation.js"></script> --}}



</body>

</html>