 
{{>user-header-secondary}}

<div class="" style=" background: rgb(194,195,195);background: linear-gradient(103deg, rgba(194,195,195,1) 7%, rgba(180,255,244,1) 71%, rgba(225,226,226,1) 100%);">
 <div class="container">

	<div class="col-sm-12 empty-cart-cls text-center mb-5 " style=" margin-top: -7px; height: 100vh;">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCVoxXy2H-NSMbRMWpoj3psLOu8lGra5mMTg&usqp=CAU" width="130" height="130"
			class="img-fluid mb-5 mr-3" style="margin-top: 215px;">
		<h3 class="mb-5"><strong>Order Placed Successfully</strong></h3>
		<button type="button" class="btn btn-outline-secondary">
			<a href="/orderlist_page" class="btn btn-index ">View Orders </a>
		</button>

	</div>
  </div>







