<body>
  <div class="container box width:70%">
    <div class="row ">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5   border  bg-secondary">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Reset Your Password</h5>
            
            <form action="/userforgot_password" method="post">

              <div class="form-floating mb-3">
                {{#if errorMessageReset}}
                <div class="text-danger">{{errorMessageReset}}</div>
                {{/if}}
                <label for="floatingInput">Email address</label>
                <input type="email" class="form-control" id="12345" placeholder="Enter e-mail address" name="email" required>

              </div>


              <div class="form-check mb-3">

                <div class="d-grid text-right">
                  <button class="btn btn-primary btn-login text-uppercase  fw-bold " type="submit">Send
                  </button>
                </div>




            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


