<body>
   <div class="container">
      <div class="row ">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
               <div class="card-body p-4 p-sm-5   border  bg-secondary">
                  <h5 class="card-title text-center mb-5 fw-light fs-5">Enter new Password</h5>

                  <form action="/new_password" method="post">

                     <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Password</label>
                        <input type="password"  id="12345" name="password" class="form-control" />  

                         {{!--passing object id  --}}
                        <input type="hidden" name="objId" value="{{objId}}">   
                     </div>
                     <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                        

                        </div>


                     </div>
                     <button type="submit" class="btn btn-primary btn-block mb-4">Confirm</button>
                     <div class="text-center">

                        </button>
                     </div>
                  </form>

               </div>
            </div>
         </div>
      </div>
   </div>
</body>